{
    "title": "{{ .Drone.Build.Status }} for {{ .Drone.Repo.Namespace }}/{{ .Drone.Repo.Name }}",
    "message": "{{ .Message }}",
    "priority": 5,
    "extras": {
        "client::display": {
            "contentType": "text/markdown"
        },
        "client::notification": {
            "click": {
                "url": "{{ .Drone.Build.Link }}"
            }
        }
    }
}