-- Build --
Action - {{ .Build.Action }}
Created - {{ .Build.Created }}
Started - {{ .Build.Started }}
Finished - {{ .Build.Finished }}
Event - {{ .Build.Event }}
Link - {{ .Build.Link }}
Number - {{ .Build.Number }}
Parent - {{ .Build.Parent }}
Status - {{ .Build.Status }}

-- Commit --
Hash - {{ .Commit.Hash }}
Before - {{ .Commit.Before }}
After - {{ .Commit.After }}
Message - {{ .Commit.Message }}
Link - {{ .Commit.Link }}
Ref - {{ .Commit.Ref }}
Author - {{ .Commit.Author }}
    Avatar - {{ .Commit.AuthorAvatar }}
    Email - {{ .Commit.AuthorEmail }}
    Name - {{ .Commit.AuthorName }}

-- Repo --
Branch - {{ .Repo.Branch }}
Link - {{ .Repo.Link }}
Name - {{ .Repo.Name }}
Namespace - {{ .Repo.Namespace }}
Owner - {{ .Repo.Owner }}
Private - {{ .Repo.Private }}
Visibility - {{ .Repo.Visibility }}

-- Failed Stages --
{{ if not .FailedStages }}No failed stages
{{ else }}{{ range .FailedStages }}{{ . }}{{ end }}{{ end }}

-- Failed Steps --
{{ if not .FailedSteps }}No failed steps
{{ else }}{{ range .FailedSteps }}{{ . }}{{ end }}{{ end }}
