Build `{{ .Build.Number }}` triggered by `{{ .Build.Event }}` on `{{ .Commit.Branch }}`

Took `{{ .Build.Duration }}`

Commit: `{{ .Commit.Message }}`

Author: `{{ .Commit.AuthorName -}}`
{{- if .Commit.Author -}}
    (`{{- .Commit.Author -}}`)
{{- end }}
