Build `{{ .Build.Number }}` triggered by `{{ .Build.Event }}` on `{{ .Commit.Branch }}`

Commit: [`{{ .Commit.Message }}`]({{ .Commit.Link }}) by `{{ .Commit.AuthorName -}}`

{{- if .Commit.Author -}}
    (`{{- .Commit.Author -}}`)
{{- end }}
