Build [`{{ .Build.Number }}`]({{ .Build.Link }}) triggered by `{{ .Build.Event }}` on `{{ .Commit.Branch }}`

Commit: [`{{ .Commit.Message }}`]({{ .Commit.Link }}) by `{{ .Commit.AuthorName -}}`
{{- if .Commit.Author -}}
    (`{{- .Commit.Author -}}`)
{{- end }}

Repo: [`{{ .Repo.Namespace }}/{{ .Repo.Name }}`]({{ .Repo.Link }})

{{- define "title" -}}
    {{- if eq .Build.Status "success" -}}
        🟩 Build {{ .Build.Status }} after {{ .Build.Duration }}
    {{- else -}}
        🟥 Build {{ .Build.Status }} after {{ .Build.Duration }}
    {{- end -}}
{{- end -}}